# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
weather_data = pd.read_csv('weather_df.csv')
weather_data = weather_data.drop(columns=['Unnamed: 0'])

weather_data.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,mataura,72,NZ,1579921333,60,-46.19,168.86,66.99,8.01
1,hermanus,0,ZA,1579921242,96,-34.42,19.23,64.99,1.32
2,castro,1,BR,1579921137,98,-24.79,-50.01,56.61,4.47
3,nelson bay,100,NZ,1579921333,58,-41.28,173.28,75.99,1.99
4,arraial do cabo,20,BR,1579921333,77,-22.84,-46.65,66.20,3.36

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Use the Lat and Lng as locations and Humidity as the weight
locations = weather_data[['Lat', 'Lng']]
humidity = weather_data['Humidity'].astype(float)

# map
fig = gmaps.figure()

# Add Heatmap layer to map
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                            dissipating=False, max_intensity=5,
                            point_radius=1)
                                
fig.add_layer(heat_layer)

# Display heatmap
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#Narrow down the cities to fit weather conditions
new_weather_df = pd.DataFrame(weather_data, columns = ['City', 'Max Temp', 'Wind Speed', 'Cloudiness'])
max_temp = (new_weather_df['Max Temp'] <= 80) & (new_weather_df['Max Temp'] > 70)
wind_speed = new_weather_df['Wind Speed'] < 10
cloudiness = new_weather_df['Cloudiness'] == 0
new_weather_df[max_temp & wind_speed & cloudiness]

           City  Max Temp  Wind Speed  Cloudiness
134      jardim     70.45        2.42           0
185    cidreira     72.99        2.13           0
209      bonthe     75.78        2.77           0
248       rocha     70.83        7.90           0
280     beterou     71.15        8.32           0
299  champerico     74.91        3.74           0
437     yorosso     70.38        9.84           0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
#Store into variable named hotel_df.
hotel_df = pd.DataFrame(weather_data, columns =['City', 'Country', 'Lat', 'Lng'])
hotel_df['Hotel Name']=''
hotel_df.head()

              City Country    Lat     Lng Hotel Name
0          mataura      NZ -46.19  168.86
1         hermanus      ZA -34.42   19.23
2           castro      BR -24.79  -50.01
3       nelson bay      NZ -41.28  173.28
4  arraial do cabo      BR -22.84  -46.65

In [6]:
# Set parameters to search for hotels with 5000 meters
target_coordinates = f"{hotel_df['Lat'][0]},{hotel_df['Lng'][0]}"
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

# Set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Request using params dictionary
response = requests.get(base_url, params=params)

In [8]:
hotel_df.iloc[0][0]

'mataura'

In [9]:
#creates a list to capture hotel_names to insert into dataframe
hotel_name = []

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# capture hotel coordinates
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    try:
        hotel_name.append(name_address['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)

In [10]:
hotel_name

['Falls Hotel',
 'Birkenhead House',
 'Hotel Buganville Express',
 'Trailways Hotel',
 nan,
 nan,
 'Esplanade Hotel',
 nan,
 'Hilton Garden Inn Kauai Wailua Bay',
 'Hotel Molino Viejo',
 'Kemping wifi hotel',
 'Hampton Inn & Suites Jamestown',
 nan,
 'Paradise First Hotel',
 'Arennas Máncora',
 nan,
 'Isles Sunset Lodge',
 "Munitsipal'naya Gostinitsa",
 nan,
 'Hotel Angmagssalik',
 'Kak Doma',
 'Hotel Las Olas',
 'Tourist House - Sablino',
 'Hotel Restaurante América',
 'Foveaux Hotel',
 'BreakFree on Cashel Christchurch',
 '百名伽藍',
 'Westmark Fairbanks Hotel & Conference Center',
 'Westmark Fairbanks Hotel & Conference Center',
 'Hilton Garden Inn Laramie',
 "Smitty's Bed and Breakfast",
 'Grand Noble Hotel',
 'Grand Dafam Bela Ternate',
 nan,
 'Six Acres Bed & Breakfast',
 'Wangjiao Hotel',
 nan,
 'The Brunswick Hotel',
 'HOTEL TARKA',
 'Scandic Bryggen',
 nan,
 'in Western',
 'Hospitality Esperance',
 'Kairos Cottage',
 'The Swan At Hay Hotel',
 nan,
 'Café de Upernavik',
 'Hotel Vistalmar',
 'Hotel Les Cascades',
 nan,
 'E-Hotel Muravlenko',
 'Arktika',
 'Hotel "obshatsya"',
 'Hotel RIKMAN Continental',
 'Super 8 by Wyndham Athabasca AB',
 'Hilo Hawaiian Hotel',
 'Hotel du Parc',
 nan,
 'Pousada Encanto Abrolhos',
 'Hengifoss Guesthouse',
 'The Explorer Hotel',
 "Pension Maro'i",
 'Los Cauquenes Resort & Spa',
 'Soho Boutique Vistahermosa',
 'Padadita Beach Hotel',
 'Prozhivaniye V Okhotske',
 'Lorengau Harbourside Hotel',
 nan,
 nan,
 'Eysturland Lodge',
 'Best Western Kodiak Inn and Convention Center',
 'Hotel Rasec',
 'Royal Amazonia',
 'Guest House Kotiranta',
 nan,
 'Amiin Hotel',
 'Wildtrack Safaris Eco Lodge',
 'Hospitality Carnarvon',
 nan,
 'Swiss-Belinn Hotel Luwuk',
 'Blue Ridge Beach Resort',
 'Courtyard by Marriott Danbury',
 'Ijole Bale Hotel',
 nan,
 nan,
 nan,
 'Hôtel Kamas',
 'Yijin Hotel',
 'Pousada Amigos do Vento',
 'BIG4 Sunset Beach Holiday Park',
 'CCI Express Inn',
 'Quality Inn',
 'Fema Lodge',
 'Hotel Punta León',
 nan,
 nan,
 'Katsuura Hotel Mikazuki',
 'The Huts',
 nan,
 'Nebitchi Hotel',
 nan,
 'Hotel Adras',
 'Soho Boutique Vistahermosa',
 'Hotel Shtorm',
 'Quinta das Figueiras',
 'Vila Baleira Resort',
 nan,
 'Hotel El Castillo',
 'Clarion Cedar Court Huddersfield Hotel',
 nan,
 'Top of the World Hotel',
 'Zaver Pearl Continental Hotel',
 'Otway Gate Motel',
 'Haus Barbara',
 'Hoedjiesbaai Hotel',
 'Qaanaaq Hotel',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Pension Temetiu Village',
 'OYO 1669 Hotel Vista Syariah',
 nan,
 'The Waterfront Hotel',
 'Frobisher Inn',
 nan,
 'Hotel Arena Gruesa',
 'Bertelli Chuí Hotel',
 nan,
 'Yeet Hotel',
 'Best Western Thompson Hotel & Suites',
 nan,
 'Bristol Guarapari Residence Hotel',
 'Hotel Estância',
 'Graciosa Resort - Biosphere Island Hotel',
 'Aspen Extended Stay Suites',
 'Comfort Inn & Suites',
 'La Pirogue Mauritius',
 'Hotel Intercity Suape Costa Dourada',
 nan,
 'Le Palmier',
 nan,
 'Shu Palace Hotel',
 'True Treasure Hotel',
 'Desert Gat',
 'Hotel Timpton',
 nan,
 nan,
 'Hotel Continental Luanda',
 nan,
 'Radisson Blu Al Mahary Hotel',
 'HOTEL PLATINUM',
 'Zhangjiakou Venice Hotel',
 'Beira Terrace Hotel',
 'Wedgewood Motel',
 'Shanti Maurice Resort & Spa',
 nan,
 'Hotel Plaza Lebu',
 'Yakeshi Hotel',
 nan,
 'Steppe hotel',
 'Suita Hotel',
 'Salalah Gardens Hotel',
 'Uyutnaya Mini-Hotel',
 'Alexander Mackenzie Hotel',
 'Red Roof Inn Clyde',
 'Hôtel Teriya',
 'Hotel Izukyu',
 'Courtyard by Marriott Maui Kahului Airport',
 'Protea Hotel by Marriott Takoradi Select',
 "Holiday Inn Salerno - Cava de' Tirreni",
 'Hotel O2 inn',
 "Hôtel M'sellah",
 'Courtyard by Marriott Pune Chakan',
 'Gostinitsa Sova',
 nan,
 'Amir hotel',
 "L'oiseau de Paradis",
 nan,
 'Hotel Solaris',
 'Sheremetev Castle',
 'Hotel Tazovchanka',
 'Nino village',
 'Hotel Kununurra',
 'Pousada Rosa',
 nan,
 'Rede Beach: Hotel em Guajiru',
 'Hayhoull',
 nan,
 'Transcam Hotel',
 nan,
 'Best Western Plus Bayshore Inn',
 nan,
 'KAYABI PALACE HOTEL E RESTAURANTE',
 'Holiday Inn Express & Suites Alice',
 'The Chalet Motel',
 'Hotel O2 inn',
 nan,
 'Distinction Dunedin Hotel',
 'Гостиница «Малина»',
 'زرمت سهاک سیاحتی شرکت TRAVEL AGANCY',
 nan,
 'Hard Rock Hotel Goa',
 'Days Inn by Wyndham Rutland/Killington Area',
 'Cuilo River Hotel',
 nan,
 nan,
 'Hotel Caribani',
 'Bonthe Holiday Village',
 'Radisson Blu Polar Hotel, Spitsbergen',
 'Vostochnaya',
 'Codrington Gardens Bed And Breakfast',
 'Vardø Hotel AS',
 'Nomades Hotel Boutique',
 nan,
 'Le Méridien Bora Bora',
 'Ancyra Hotel By Continent - Poso',
 'Holiday Inn Express & Suites N Waco Area - West',
 'Shelburne Motel',
 'Botany Bay Hotel',
 'Hotel Villa Kitzia Huacho',
 'Ladoga Motel',
 'Mystic Sands',
 'Swe Tha Har ဆွေသဟာ',
 'Hotel Casa Poli Mantova',
 'Casa Nemo Beach Resort & Spa',
 nan,
 'Sanctuary Rarotonga-On the Beach',
 nan,
 'Profilaktoriy Baes',
 'Hilton Garden Inn Sacramento Elk Grove',
 'Dena Hotel',
 nan,
 nan,
 nan,
 'Mehamn Arctic Hotel AS',
 'Millenium',
 nan,
 'Uyut',
 'Pensiunea Sophia',
 nan,
 'Villa Delisle, Hotel & Spa',
 'Tayezhnaya',
 'Campement touristique DANKALELO',
 nan,
 nan,
 nan,
 'Beleza Pura B&B',
 'BISMI HOTEL',
 'Hotel Bitoraj Fuzine',
 'Orgin Hotel',
 nan,
 'Embassy Suites by Hilton Lompoc Central Coast',
 'HOTEL LOCUS',
 'Aurora Inn & Suites',
 '海南康乐园海航度假酒店',
 'Maraga Beach Hostel',
 'Ritz Lauca',
 "Staryy Sobol'",
 nan,
 'Hôtel Teriya',
 'PERU HOSTING TALARA',
 'Rekidhiye Inn',
 'Relaks',
 'Hotel Loma Dorada',
 nan,
 'Cassowary Hotel',
 'Nusa Island Retreat',
 nan,
 'Hotel La Muradana',
 'Preskil Island Resort',
 'Gostevoy Dom',
 nan,
 nan,
 nan,
 'Hotel BOHIA',
 'Pousada Rio',
 nan,
 nan,
 nan,
 'Egorkino Hotel',
 'Soneva Fushi',
 nan,
 'The Retreat at Blue Lagoon Iceland',
 nan,
 'Shangri-La Hotel, The Marina, Cairns',
 'Pousada Lua & Sol',
 'Protea Hotel by Marriott Ondangwa',
 "Buffalo Bill's Irma Hotel & Restaurant",
 'Inn At the Delta',
 'IZARO HOTEL CLUB',
 nan,
 nan,
 'Liberty Guest House',
 "Krasnosel'kupnefteprodukt",
 'Royal Victoria Hotel',
 'Thuraya Tourist Hotel',
 'Hotel Montt Plaza',
 'Hotel y restaurante "El Diamante"',
 'Sitka Hotel & Restaurant',
 'Baymont by Wyndham Plymouth',
 'CM Guest house',
 'Radisson Blu Hotel Liuzhou',
 'Duques de Medinaceli',
 'Hotel Flasso 1',
 nan,
 nan,
 'Margi Hotel',
 'Inn Inubosaki hotel of superb view',
 "Le Q'Artier",
 'Hotel Miramar',
 'Sheraton Changde Wuling Hotel',
 'Gostinitsa Galaktika',
 'Greenhill Chalets',
 'Fosshotel Húsavík',
 'Hotel Svetlogorsk JBIK',
 'Lofoten Værøy Brygge',
 'Hôtel Matagami',
 'Taloa Heights',
 'Sterling Mount Abu Resorts and Hotels',
 'Kingdo Hotel',
 'Hotel Do Terço',
 'HOtel Tasiast',
 'Harbour Hotel',
 'La Sorgente Resort',
 'OYO 66194 Hotel Veggie Aman',
 'Jorisa Hotel',
 'The Westin Resort & Spa, Puerto Vallarta',
 nan,
 'Hotel Sofitel Legend Old Cataract Aswan',
 nan,
 'Hotel vista mar',
 'Hotel Andaluz Albuquerque, Curio Collection by Hilton',
 'HOSTAL PATIVILCA',
 nan,
 'Hampton Mews Luxury Apartments & Hotel',
 'Riyadh Marriott Hotel',
 'AZIMUT Отель Мирный',
 nan,
 'Xisaka Guest House',
 'Eastern & Oriental Hotel, Penang',
 'Nuli Sapi',
 nan,
 'Scandic Östersund Syd',
 'Holiday Inn Express Dryden',
 'Hotel Costeiro Olinda',
 'Bodegas Volcán',
 'Hotel Almagre',
 'Hotel E Plaza Colón',
 'Best Western Plus Norman',
 nan,
 'Daru hotel',
 'Grand Altundağ Otel',
 'Гостиница Юрибей',
 'Hotel Kap Farvel',
 nan,
 'Gran Hotel',
 nan,
 'Horseshoe Bay Resort',
 'Star Ocean Estate',
 nan,
 "Nathaniel's Lodge",
 'Parsian Bam Hotel',
 'Mahavira Hotel',
 nan,
 nan,
 'Opuwo Country Lodge',
 'Ouro Hotel',
 nan,
 'Hôtel Le Saint Eloi Logis & SPA - Restaurant C. Pasquier',
 'Barrack Point Holidays',
 'Astoria Hotel',
 'Fairfield Inn & Suites by Marriott Detroit Lakes',
 'Al Nakhel Hotel',
 'Comfort Inn Near Six Flags St. Louis',
 nan,
 'Kangcheng Jian Guo International Hotel',
 "Chambre d'hôtes Porsmilin",
 'Radisson Blu Resort Temple Bay Mamallapuram',
 'Airotel Achaia Beach',
 'Al Bustan Palace, A Ritz-Carlton Hotel',
 'Ponta Anchaca',
 'Raqui Lodge',
 'Bear River Casino Resort',
 nan,
 'Tanna Ikamir Bungalows and Accommodation',
 nan,
 'Kokoda Track Lodging',
 nan,
 'Rossi Hotel',
 'Economy Hotel Fortuna',
 'Holiday Inn Express & Suites Salt Lake City West Valley',
 'Cresta Thapama',
 'Courtyard by Marriott Roanoke Airport',
 'Hotel Castrum Villae',
 'Hotel Olafsvik',
 'Fairfield Inn & Suites by Marriott Huntington',
 'Hotel Howard Johnson Plaza Resort & Casino Mayorazgo',
 nan,
 'BULDANA URBAN RESIDENCY CLUB',
 nan,
 'Angora Hotel',
 'Hotel Les Rochers',
 'Tibesti Hotel',
 'GOTO TSUBAKI HOTEL',
 'Four Points by Sheraton Juneau',
 nan,
 nan,
 'BULDANA URBAN RESIDENCY CLUB',
 'Hotel Weidenhof',
 'Cahy Praia Hotel',
 'Jiuquan Hotel',
 'Airotel Achaia Beach',
 nan,
 'Three Palms Inn',
 'Hotel Parque Das Caraibeiras',
 'Hotel Barra Palace',
 nan,
 'Belle rose beach Hotel',
 'Villavela Hotel Boutique',
 nan,
 'Hotel Kargasok',
 nan,
 nan,
 'Hotel Grand Zidny',
 nan,
 'Ibis Saint Nazaire Trignac',
 'Untertelshof',
 nan,
 nan,
 'La Casa del Jaibo',
 'Hôtel Teriya',
 'Hotel Narsaq',
 'Fast Track Hotel, Jalingo',
 'Barn Bed and Breakfast',
 'Douro Royal Valley Hotel & Spa',
 nan,
 'Hotel Mansión',
 'Vestavind Hytter og Rom AS',
 'Hotel ibis Styles Umuarama',
 'Paradise Inn & Suites',
 'DoubleTree by Hilton Hotel Bemidji',
 nan,
 'Radisson Grenada Beach Resort',
 'Cobblestone Hotel & Suites - Janesville',
 'Neres Palace Hotel',
 'Hotel ibis Styles Iu Namibe',
 'Grand Kesambi Resort and Villas',
 'Castelo Encantado',
 'Antay Hotel & Spa',
 'Hotel Kerinci',
 'Holiday Inn Express & Suites Alice',
 nan,
 'Courtyard by Marriott Farmington',
 nan,
 'Kempinski Hotel Yinchuan',
 'ELİTE MY GARDEN OTEL',
 nan,
 nan,
 'Gostinitsa Mup Zhkkh',
 'Amari Galle Sri Lanka',
 'Hotel Colombus',
 nan,
 'Dong Fang Hui Business Hotel',
 'Hotel MarSur',
 'Golden Dune Hotel',
 'Hotel Santo',
 'Oravae Island Cottages',
 'Moams Hotel',
 nan,
 nan,
 'Porto A.S. 1829 Hotel',
 'Crossfield Country Inn',
 nan,
 nan,
 nan,
 'Arsela Hotel Pangkalan Bun',
 'Piscine Oasis',
 'Karratha International Hotel',
 'Bay House',
 nan,
 'Hotel Vestmannaeyjar',
 nan,
 'Aspen Suites Hotel Haines',
 'Hotel Cesar',
 'OYO 26117 Hotel Siddhivinayak Celebrations',
 'Arq Inn Hotel',
 'Rusne Villa',
 nan,
 'Hotel Elcano Acapulco',
 'Enjoy Antofagasta Hotel Del Desierto',
 nan,
 'Samuels Hotel',
 nan,
 'La Settima Luna Hotel',
 'Greenstar Hotel Vaasa',
 'The Gilmore Hotel',
 'Hotel Sisimiut',
 nan,
 'Moinho do Poço Verde',
 "Maison Vin d'Hus",
 'Namatanai Hotel',
 'Hotel Oaza Spokoju',
 nan,
 'ECO Lifestyle & Lodge',
 'Hotel Hilltone',
 'Peniche Beach House',
 'Wanhao Inn',
 'Hotel Ivatsiro',
 'Golden Rays hotel',
 nan,
 'Walkabout Lodge & Tavern',
 'The Grand Hotel',
 '通灵酒店',
 'Xuzhou Zhonghui International Conference Center Hotel',
 nan,
 'Hotel Grand Venetian',
 nan,
 'The Yellow House',
 "Les Clefs de L'Argilière : Chambres d'hôtes avec Piscine et Jacuzzi (Oise Picardie)",
 'Civil Affairs Hotel',
 nan,
 'Hanjra Brother’s House',
 'Hotel Cadaka',
 nan,
 'Coco Bungalows',
 'Pacific Harbour Lodge',
 'Hotel Los Arcos',
 'Hotel Itarema Residence',
 'DoubleTree by Hilton Iquitos',
 nan,
 nan,
 'HOTEL R. SOARES',
 'PORTO RIO HOTEL & CASINO',
 nan,
 'Esmarin wellness hotel',
 'Hotel Marien',
 'Aloft Philadelphia Downtown',
 'Hotel Folkloro Sanriku Kamaishi',
 "Hotel ristorante L'Ulivo",
 'فندق جراند بالاس Grand Palace Hotel',
 'Hotel Du Havre',
 'Balochistan Hotel & Rest',
 'Prestige Hudson Bay Lodge',
 'Gostinichnyy Kompleks Vizit']

In [11]:
#list of hotels onto locations and drops any values with na .
hotel_df['Hotel Name']= hotel_name
hotel_df.dropna()
hotel_df.to_csv('hotel_export.csv')

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))